<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Problem 2 (String value)</h5>
    <form>
      <div class="mb-3">
        <label for="input-2" class="form-label">Input</label>
        <textarea type="text" class="form-control" id="input-2"></textarea>
      </div>
      <div class="mb-3">
        <label for="output-2" class="form-label">Result</label>
        <pre  class="form-control" id="output-2"> </pre>
      </div>
      
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>