.background{
  background-image: url('/assets/images/backgrounds/fondo-futurista.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 95vh;
  z-index: 0;
}